/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

#topmodal{
    margin-top: 60px;
}
.deznav .metismenu > li > a i{
    padding-right: 10px;
}
#modalMenu{
    background-color: white;
    padding: 10px;
    border-radius: 10%;
}
